
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.spinner-container {
  width: 100%;
  top: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsla(0%, 0%, 0%, 50%);
  animation: fadeIn 0.1s;
}

.spinner {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}

.spinner::before,
.spinner::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 10px solid var(--light-color);
  animation: prixClipFix 2s linear infinite;
}

.spinner::after {
  border-color: var(--primary-color-light);
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 12px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}