<app-spinner></app-spinner>
<app-error-dialog></app-error-dialog>
<div class="container">
  <app-status></app-status>
  <div class="scoreboard-grid">
    <app-section title="Home">
      <app-segment-display [value]="homeScoreSig()"></app-segment-display>
      <app-add-remove-buttons
        (valueAdded)="homeScoreIncreased()"
        (valueRemoved)="homeScoreDecreased()"
      ></app-add-remove-buttons>
    </app-section>
    <div class="middle-column">
      <app-section title="Inning">
        <div title class="inning-header">
          <h1>Inning</h1>
          <span class="inning-half" [ngClass]="{ bottom: isBottom() }">{{ inningHalf() }}</span>
        </div>
        <app-segment-display [value]="inningsSig()"></app-segment-display>
        <app-add-remove-buttons
          (valueAdded)="inningIncreased()"
          (valueRemoved)="inningDecreased()"
        ></app-add-remove-buttons>
      </app-section>
      <app-section title="Outs">
        <div class="check-wrapper">
          <label class="check-container">
            <input type="checkbox" id="out1" disabled [checked]="firstOutSig()" />
            <span class="checkmark"></span>
          </label>
          <label class="check-container">
            <input type="checkbox" id="out2" disabled [checked]="secondOutSig()" />
            <span class="checkmark"></span>
          </label>
        </div>
        <app-add-remove-buttons
          (valueAdded)="outIncreased()"
          (valueRemoved)="outDecreased()"
        ></app-add-remove-buttons>
      </app-section>
    </div>
    <app-section title="Away">
      <app-segment-display [value]="awayScoreSig()"></app-segment-display>
      <app-add-remove-buttons
        (valueAdded)="awayScoreIncreased()"
        (valueRemoved)="awayScoreDecreased()"
      ></app-add-remove-buttons>
    </app-section>
  </div>
  <app-actions></app-actions>
</div>
