<div class="container">
  <div class="score home">
    <h1>Home</h1>
    <div class="input-padding">
      <input type="number" value="0" />
    </div>
    <div class="buttons">
      <button>+</button>
      <button>-</button>
    </div>
  </div>
  <div class="inning-and-outes">
    <div class="inning">
      <h1>Inning</h1>
      <input type="number" value="0" />
      <button>+</button>
      <button>-</button>
    </div>
    <div class="outs">
      <h1>Outs</h1>
      <input type="number" value="0" />
      <button>+</button>
      <button>-</button>
    </div>
  </div>
  <div class="score away">
    <h1>Away</h1>
    <div class="input-padding">
      <input type="number" value="0" />
    </div>
    <div class="buttons">
      <button>+</button>
      <button>-</button>
    </div>
  </div>