<div class="container">
  <div class="pure-g">
    <app-section class="pure-u-1 pure-u-sm-1-3" title="Home">
      <app-segment-display></app-segment-display>
      <app-inc-dec-buttons></app-inc-dec-buttons>
    </app-section>
    <div class="pure-u-1 pure-u-sm-1-3">
      <app-section title="Innings">
        <app-segment-display [value]="1"></app-segment-display>
        <app-inc-dec-buttons></app-inc-dec-buttons>
      </app-section>
      <app-section title="Outs" class="outs">
        <div class="pure-g">
          <div class="pure-u-1 check-wrapper">
            <label class="check-container">
              <input type="checkbox" id="out1" name="out1" disabled />
              <span class="checkmark"></span>
            </label>
            <label class="check-container">
              <input type="checkbox" id="out2" name="out2" disabled />
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="pure-u-1">
            <app-inc-dec-buttons></app-inc-dec-buttons>
          </div>
        </div>
      </app-section>
    </div>
    <app-section class="pure-u-1 pure-u-sm-1-3" title="Away">
      <app-segment-display></app-segment-display>
      <app-inc-dec-buttons></app-inc-dec-buttons>
    </app-section>
  </div>
</div>