@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('/assets/fonts/dseg/DSEG7Classic-Regular.woff2') format('woff2'),
  url('/assets/fonts/dseg/DSEG7Classic-Regular.woff') format('woff'),
  url('/assets/fonts/dseg/DSEG7Classic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}