@import 'fonts';

:root {
  --primary-color: #bc0001;
  --secondary-color: #000;
  --tertiary-color: #fff;

  --font-color: #2c2c2c;
  --bg-color: #c3c3c3;

  --segment-color: #ffc400;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}