.section-container {
  max-width: 170px;
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
}

.section-border {
  border: 3px solid var(--light-color);
  border-radius: 12px;
  padding: 10px;
}