<div class="section-container">
  <h1 class="section-label">{{ title() }}</h1>
  <div class="section-border">
    <div class="segment">
      <input class="segment-display" type="text" [(ngModel)]="score" disabled />
    </div>
    <div class="pure-button-group" role="group" aria-label="Score">
      <button class="button-xlarge pure-button board-button" role="button" (click)="decreaseScore()">-</button>
      <button class="button-xlarge pure-button board-button" role="button" (click)="increaseScore()">+</button>
    </div>
  </div>
</div>